<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.github.pshcode.mycoinasset.mapper.MyCoinMapper">

	<select id="selectMyCoins" resultType="myCoin">
		select id
			 , symbol
		 	 , amount
		 	 , remark
		 	 , date_format(create_date, '%Y-%m-%d %H:%i:%s') AS createDate
		  from my_coin
		 where use_yn = 'Y'
	</select>

	<insert id="insertMyCoin" parameterType="myCoin">
		insert into my_coin (id, symbol, amount, use_yn, remark, create_date)
		values (#{id}, #{symbol}, #{amount}, 'Y', #{remark}, now())
	</insert>

	<update id="updateMyCoin" parameterType="myCoin">
		update my_coin
		   set id = #{id}
		     , symbol = #{symbol}
		     , amount = #{amount}
		     , remark = #{remark}
		 where id = #{id}
	</update>

	<delete id="deletMyCoin" parameterType="string">
		update my_coin
		   set use_yn = 'N'
		 where symbol = #{id}
	</delete>

</mapper>