<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.github.pshcode.mycoinasset.mapper.MyCoinHistoryMapper">

	<select id="selectMyCoinHistoryList" parameterType="string" resultType="myCoinHistory">
		select date_format(x.create_ymd, '%Y-%m-%d') AS createYmd
			 , x.seq
			 , x.id
			 , x.amount
			 , x.price
			 , x.total_price AS totalPrice
			 , y.coin_name AS coinName
			 , y.remark
		  from my_coin_hist x, my_coin y
		 where x.id = y.id
		   and x.create_ymd = str_to_date(#{searchYmd}, '%Y-%m-%d')
		   and x.seq = (select max(seq) from my_coin_hist where create_ymd = str_to_date(#{searchYmd}, '%Y-%m-%d'))
	</select>

	<select id="selectNowHistorySeq" resultType="int">
		select ifnull(max(x.seq) + 1, 1)
		  from my_coin_hist x
		 where x.create_ymd = str_to_date(now(), '%Y-%m-%d')
	</select>

	<insert id="insertMyCoinHistory" parameterType="myCoinHistory">
		insert into my_coin_hist
		( create_ymd
		, seq
		, id
		, amount
		, price
		, total_price
		)
		values
		( now()
		, #{seq}
		, #{id}
		, #{amount}
		, #{price}
		, #{totalPrice}
		)
	</insert>

</mapper>