<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.github.pshcode.mycoinasset.mapper.MyCoinHistoryMapper">

	<select id="selectMyCoinHistories" parameterType="string" resultType="myCoinHistory">
		select date_format(create_date, '%Y-%m-%d') AS createDate
			 , id
		 	 , amount
		 	 , price
		 	 , sum_price AS sumPrice
		  from my_coin
		 where use_yn = 'Y'
	</select>

	<insert id="insertMyCoinHistory" parameterType="myCoinHistory">
		insert into my_coin_history (create_date, id, amount, price, sum_price)
		values (now(), #{id}, #{amount}, #{price}, #{sumPrice})
		on duplicate key update amount = #{amount}, price = #{price}, sum_price = #{sumPrice}
	</insert>

</mapper>